@font-face {
    font-family: 'Novecento Sans Wide';
    src: url('@/assets/fonts/novecento-sans-wide-normal.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Novecento Sans Wide';
    src: url('@/assets/fonts/novecento-sans-wide-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('@/assets/fonts/titillium-web-v17-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bender';
    src: url('@/assets/fonts/jovanny-lemonad-bender.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-title: 'Novecento Sans Wide', Inter, sans-serif;
    --font-text: 'Titillium Web', Inter, sans-serif;
    --font-number: 'Bender', Inter, sans-serif;
}
