@import 'tailwindcss';
@reference "./font.css";

@theme {
    --color-ri-cerulean: #007ba7;
    --color-ri-glow1: #00a1e0;
    --color-ri-glow2: #00c8e0;
    --color-ri-back1: #0f1a20; /* Deprecated naming */
    --color-ri-black: #0f1a20;
    --color-ri-back2: #1a2e3a; /* Deprecated naming */
    --color-ri-navy: #1a2e3a;
    --color-ri-fore: #e0e0e0; /* Deprecated naming */
    --color-ri-white: #e0e0e0;
    --color-ri-warn: #ff6b35;
    --color-ri-subtext: #a0b2b8;
    --color-ri-separator: #004d66;

    --animate-slide-down: slide-down 0.3s cubic-bezier(0.87, 0, 0.13, 1);
    --animate-slide-up: slide-up 0.3s cubic-bezier(0.87, 0, 0.13, 1);

    @keyframes slide-down {
        from {
            max-height: 0;
        }
        to {
            max-height: 100vh;
        }
    }

    @keyframes slide-up {
        from {
            max-height: 100vh;
        }
        to {
            max-height: 0;
        }
    }
}

:root {
    line-height: 1.5;
    color-scheme: dark;
    color: var(--color-ri-fore);
    background-color: var(--color-ri-back1);
    font-synthesis: weight;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @apply flex min-h-screen m-0 overscroll-none;
    min-width: 320px;
}

#app {
    @apply w-full mx-auto my-0;
    max-width: 1280px;
}

.badge {
    @apply inline-flex items-center text-sm;
}

.badge-decor {
    @apply px-2 py-1 font-number rounded-full;
}

.badge-link {
    @apply px-2 py-1 font-number rounded-full; /* TODO */
}

.btn {
    @apply inline-flex items-center justify-center;
}

.btn-ri {
    @apply relative py-2 text-ri-fore bg-ri-back1/70 border border-solid border-ri-cerulean;
}

.btn-ri:hover {
    box-shadow: 0 0 15px rgba(0, 200, 224, 0.5);
    text-shadow: 0 0 5px #00c8e0;
}

.btn-ri::before {
    @apply absolute w-full h-full top-0 -left-full opacity-0 pointer-events-none;
    content: '';
    background: linear-gradient(90deg, transparent, rgba(0, 200, 224, 0.3), transparent);
    transition: transform 0.5s;
}

.btn-ri:hover::before {
    @apply opacity-100;
    transform: translateX(100%);
}
